* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    background-image: url(background.jpg);
    background-size: cover;
}

body {
    color: white;
}

.heading-welcome, .heading-title {
    color: white;
}

h2 {
    color: white;
}

h2 ul {
    color: white;
}

h2 ul li {
    color: white;
}

.profile-img {
    border-radius: 50%;
    border: 3px;
    border-color: blueviolet;
}